npm install --save normalize.css
p {
    font-family: serif;
    letter-spacing: 1px;
    font-size: 15px;
    color: #474545;
}
.lien {
    font-family: calibri;
    letter-spacing: 1px;
    color: green;
    font-style: italic;
}
.lien:visited {
    color: red;
}
.lien:hover {
    background-color: gold;
}
body {
    font-family: 'Open Sans', sans-serif;
    width: 90%;
    margin: 5%;
    background-image: url(image/Voyage.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
blockquote {
    margin-top: 80px;
    margin-right: 18%;
    margin-bottom: 80px;
    margin-left: 18%;
    padding: 2%;
    padding-left: 30px;
    font-size: 160%;
    background-color: rgb(196, 184, 184);
    border-left: 3px solid blue;
    font-style: italic;
}
table {
    border: 3px solid purple;
}
.villageois {
    border: 1px solid black;
    border-left-color: gold;
    border-left-width: 3px;
    font-style: italic;
}
.fermier {
    border: 1px solid black;
    border-left-color: darkred;
    border-left-width: 3px;
    font-style: italic;
}
.titre {
    background-color: yellow;
}
.good {
    color: green;
    text-transform: capitalize;
}
.bad {
    color: red;
    text-transform: capitalize;
}
.gras {
    font-weight: bold;
}
.titre1 {
    Background-color: purple;
}
tr:nth-child(even) {
    background-color: rgb(131, 121, 121);
}
tr:nth-child(odd) {
    background-color: white;
}
img {
    display: block;
    margin: auto;
}